@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

:root {
    --primary-color: cornsilk;
    --secondary-color: #6C9FFF;
    --secondary-color-light: #dde4f1;
    --primary-text-color: black;
    --secondary-text-color: white;
    --tertiary-text-color: #4D4848;
    --font-family: 'Anaheim';

    --arts-color: #AB91F2; /*  rgb(171, 145, 242) */
    --tech-color: #F5B031; /*  rgb(245, 176, 49) */
    --edu-color: #b7e092;  /*  rgb(183, 224, 146) */

    --client-link-color: black;

    --border-radius: 5px;
    --page-padding: 1rem 2rem;

    font-family: var(--font-family);

    body {
        background-color: var(--primary-color);
        font-size: 18px;
        /* margin: 0; */
    }

    button {
        font-family: var(--font-family);
    }

    img {
        border-radius: 15px;
    }
}