@import url('https://fonts.googleapis.com/css2?family=Anaheim:wght@400..800&display=swap');

:root {
    --primary-color: cornsilk;
    --secondary-color: #6C9FFF;
    --font-family: 'Anaheim';

    --arts-color: #AB91F2;
    --tech-color: #F5B031;
    --edu-color: #81CE3C;

    --border-radius: 5px;

    font-family: var(--font-family);

    body {
        background-color: var(--primary-color);
        /* margin: 0; */
    }

    button {
        font-family: var(--font-family);
    }
}